<section>
  <div class="d-flex justify-content-center mt-5">
    <div class="d-flex justify-content-center align-items-center">
      <div class="px-4">
        <h1>Select Cylinder Type</h1>
        <div class="d-flex justify-content-center mt-3">
          <button class="btn btn-outline-primary" style="margin-right: 5px;" onclick="showNewCylinderForm()">New
            Cylinder</button>
          <button class="btn btn-primary" onclick="showRecoveryCylinderForm()" style="margin-left: 5px;">Recovery
            Cylinder</button>
        </div>

        <form id="newCylinderForm" style="display: none;">

          <!-- New Cylinder Button -->
          <h2 class="mt-3">New Cylinder</h2>
          <label for="cylinderTagId" class="form-label">Cylinder Tag ID:</label>
          <input type="text" id="cylinderTagId" name="cylinderTagId" value="ABC12345" class="form-control mb-3"
            readonly>

          <label for="refrigerantId" class="form-label">Refrigerant ID:</label>
          <input type="text" id="refrigerantId" name="refrigerantId" value="R134a" class="form-control mb-3" readonly>

          <label for="technicianId" class="form-label">Technician ID:</label>
          <input type="text" id="technicianId" name="technicianId" value="TECH001" class="form-control mb-3" readonly>

          <label for="selectDate" class="form-label">Select Date:</label>
          <input type="date" id="selectDate" name="selectDate" class="form-control mb-3" required>

          <label for="refrigerantType" class="form-label">Refrigerant Type:</label>
          <input type="text" id="refrigerantType" name="refrigerantType" class="form-control mb-3" required>

          <label for="cylinderSize" class="form-label">Cylinder Size (lbs):</label>
          <input type="number" id="cylinderSize" name="cylinderSize" class="form-control mb-3" required>

          <label for="refrigerantWeight" class="form-label">Refrigerant Weight (lbs):</label>
          <input type="number" id="refrigerantWeight" name="refrigerantWeight" class="form-control mb-3" required>

          <label for="purchaseDate" class="form-label">Purchase Date:</label>
          <input type="date" id="purchaseDate" name="purchaseDate" class="form-control mb-3">

          <label for="wholesaler" class="form-label">Wholesaler:</label>
          <input type="text" id="wholesaler" name="wholesaler" class="form-control mb-3" required>

          <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </form>

        <form id="recoveryCylinderForm" style="display: none;">
          <!-- Recovery Cylinder Button -->
          <h2 class="mt-3">Recovery Cylinder</h2>
          <label for="cylinderTagId" class="form-label">Cylinder Tag ID:</label>
          <input type="text" id="cylinderTagId" name="cylinderTagId" value="XYZ98765" class="form-control mb-3"
            readonly>

          <label for="companyName" class="form-label">Company Name:</label>
          <input type="text" id="companyName" name="companyName" value="ABC Company" class="form-control mb-3" readonly>

          <label for="refrigerantId" class="form-label">Refrigerant ID:</label>
          <input type="text" id="refrigerantId" name="refrigerantId" value="R410a" class="form-control mb-3" readonly>

          <label for="technicianId" class="form-label">Technician ID:</label>
          <input type="text" id="technicianId" name="technicianId" value="TECH002" class="form-control mb-3" readonly>

          <label for="recoveryDate" class="form-label">Recovery Date:</label>
          <input type="date" id="recoveryDate" name="recoveryDate" value="2023-07-21" class="form-control mb-3">

          <label for="refrigerantType" class="form-label">Refrigerant Type:</label>
          <select id="refrigerantType" name="refrigerantType" class="form-select mb-3" required>
            <option value="" selected disabled>Select refrigerant type</option>
            <option value="clean">Clean/Reuse</option>
            <option value="nonUsable">Non-Usable</option>
            <option value="burnout">Burnout</option>
          </select>

          <label for="cylinderSize" class="form-label">Cylinder Size (lbs):</label>
          <input type="number" id="cylinderSize" name="cylinderSize" class="form-control mb-3" required>

          <label for="refrigerantTypeLbs" class="form-label">Refrigerant Type (lbs):</label>
          <input type="number" id="refrigerantTypeLbs" name="refrigerantTypeLbs" class="form-control mb-3" required>

          <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </form>

      </div>
    </div>
  </div>
</section>

<script>
  function showNewCylinderForm() {
    const newCylinderForm = document.getElementById('newCylinderForm');
    const recoveryCylinderForm = document.getElementById('recoveryCylinderForm');

    newCylinderForm.style.display = 'block';
    recoveryCylinderForm.style.display = 'none';
  }

  function showRecoveryCylinderForm() {
    const newCylinderForm = document.getElementById('newCylinderForm');
    const recoveryCylinderForm = document.getElementById('recoveryCylinderForm');

    newCylinderForm.style.display = 'none';
    recoveryCylinderForm.style.display = 'block';
  }

</script>