<!DOCTYPE html>
<!-- <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Setup Account Refit</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
</head> -->
<body>
  <section>
    <div class="row justify-content-center mt-5">
      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4">
        <form class="px-4" method="post" action="/create-account-setup" id="the-form">
          <!-- Start: Form Header -->
          <div class="row mb-3">
            <div class="col">
              <h2>Account Set Up</h2>
            </div>
          </div><!-- End: Form Header -->
          <!-- Start: Form Tabs -->
          <div class="row mb-5">
            <div class="col">
              <div>
                <ul class="nav nav-tabs d-flex justify-content-center mb-4 border-0 gap-5" role="tablist">
                  <li class="nav-item" role="presentation"><a class="nav-link active custom-tab border-0" role="tab"
                      data-bs-toggle="tab" href="#tab-1">1</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link custom-tab border-0" role="tab"
                      data-bs-toggle="tab" href="#tab-2">2</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link custom-tab border-0" role="tab"
                      data-bs-toggle="tab" href="#tab-3">3</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" role="tabpanel" id="tab-1">
                    <h4 class="mb-3">Select your role</h4><!-- Start: Role Selection -->
                    <div class="row">
                      <div class="col gap-3">
                        <div class="row mb-3">
                          <div class="col d-flex justify-content-between gap-3">
                            <div class="card shadow w-100">
                              <div class="card-body d-flex flex-column align-items-center p-2"
                                onclick="sendRole(event,'technician')"><img class="mb-2 w-100"
                                  src="../static/images/technician.png"><span>Technician</span></div>
                            </div>
                            <div class="card shadow w-100">
                              <div class="card-body d-flex flex-column align-items-center p-2"
                                onclick="sendRole(event,'contractor')"><img class="mb-2 w-100"
                                  src="../static/images/contractor.png"><span>Contractor</span></div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-between gap-3">
                            <div class="card shadow w-100">
                              <div class="card-body d-flex flex-column align-items-center p-2"
                                onclick="sendRole(event,'organization')"><img class="mb-2 w-100"
                                  src="../static/images/organization.png"><span>Organization</span></div>
                            </div>
                            <div class="card shadow w-100">
                              <div class="card-body d-flex flex-column align-items-center p-2"
                                onclick="sendRole(event,'wholesaler')"><img class="mb-2 w-100"
                                  src="../static/images/wholesaler.png"><span>Wholesaler</span></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!-- End: Role Selection -->
                  </div>
                  <br><br>
                  <label for="role-select">Choose a role:</label>
                  <select name="Selected_role" id="role_select" required form="the-form" selected="">
                    <option value="">Select your role</option>
                    <option value="technician">Technician</option>
                    <option value="contractor">Contractor[not setup yet]</option>
                    <option value="wholesaler">Wholesaler[not setup yet]</option>
                    <option value="organization">Organization[not setup yet]</option>
                  </select>
                  <br>
                  <div class="tab-pane" role="tabpanel" id="tab-2">
                    <!-- Start: Form Input -->
                    <div class="row">
                      <div class="col">
                        <p>Fields with an asterisk (*) are required.</p>
                        <h4>Identification</h4><!-- Start: First Name -->
                        <div class="mb-4"><label class="form-label">First Name*</label><input class="form-control"
                            type="text" required="" name="First Name"></div><!-- End: First Name -->
                        <!-- Start: Last Name -->
                        <div class="mb-4"><label class="form-label">LastName*</label><input class="form-control"
                            type="text" required="" name="Last Name"></div><!-- End: Last Name -->
                        <br><h4>Only for Technician</h4>
                        <!-- Start: License -->
                        <div class="mb-4"><label class="form-label">ODS License*</label><input class="form-control"
                            type="text" required="" name="License"></div><!-- End: License -->
                      </div>
                    </div><!-- End: Form Input -->
                  </div>
                  <div class="tab-pane" role="tabpanel" id="tab-3">
                    <!-- Start: Form Input -->
                    <div class="row">
                      <div class="col">
                        <p>Fields with an asterisk (*) are required.</p>
                        <h4>Company Details (Only for Contractor)</h4><!-- Start: Company Name -->
                        <div class="mb-4"><label class="form-label">Company Name</label><input class="form-control"
                            type="text" name="Company Name"></div><!-- End: Company Name -->
                        <!-- Start: Branch Number -->
                        <div class="mb-4"><label class="form-label">Company Branch Number</label><input
                            class="form-control" type="text" name="Branch Number"></div><!-- End: Branch Number -->
                        <!-- Start: Phone Number -->
                        <div class="mb-4"><label class="form-label">Company Phone Number</label><input
                            class="form-control" type="tel" name="Phone Number"></div><!-- End: Phone Number -->
                        <!-- Start: ODS Email -->
                        <div class="mb-4"><label class="form-label">ODS Sheet Recipient Email</label><input
                            class="form-control" type="email" name="Recipient Email"></div><!-- End: ODS Email -->
                        <!-- Start: Company Address -->
                        <div class="mb-4"><label class="form-label">Company Address</label><input class="form-control"
                            type="text" name="Company Address"></div><!-- End: Company Address -->
                        <!-- Start: Suite -->
                        <div class="mb-4"><label class="form-label">Apartment, Suite, etc.</label><input
                            class="form-control" type="text" name="Suite Number"></div><!-- End: Suite -->
                        <!-- Start: Company City -->
                        <div class="mb-4"><label class="form-label">City</label><input class="form-control" type="text"
                            name="Company City"></div><!-- End: Company City -->
                        <!-- Start: Company Province -->
                        <div class="mb-4"><label class="form-label">Province</label><input class="form-control"
                            type="text" name="Company Province"></div><!-- End: Company Province -->
                        <!-- Start: Company Postal -->
                        <div class="mb-4"><label class="form-label">Postal Code</label><input class="form-control"
                            type="text" name="Postal Code" pattern="^[ABCEGHJKLMNPRSTVXY]\d[A-Z] \d[A-Z]\d$"
                            title="Please enter a valid Canadian postal code in the format A1A 1A1"></div>
                        <!-- End: Company Postal -->
                      </div>
                    </div><!-- End: Form Input -->
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End: Form Tabs -->
          <!-- Start: Form Submit -->
          <div class="row d-flex justify-content-center">
            <div class="col d-flex flex-row align-items-center gap-4"><button class="btn btn-outline-primary btn-lg w-100"
                type="button">Back</button><input class="btn btn-lg btn-primary w-100" type="submit" name="Submit"
                value="Submit Form"></div>
          </div><!-- End: Form Submit -->
        </form>
      </div>
    </div>
  </section><!-- End: Setup Tabs -->
</body>