*.pyc

# CSV Uploads
/uploads/*
!/uploads/.gitkeep

# Omit environment variable and virtual environments
.env
# env

# QR code files
*.pyc

# Assets
# /static/assets/*
# !/static/assets/.gitkeep

# Database
*.db

#DS_Store
.DS_Store

#Adding lib folder to git ignore
Lib/
