  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Cylinder Tag</title>
  </head>
 
    
  <body>
  <!-- Start: Form -->
  <section>
    <div class="row justify-content-center mt-5">
      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4">
        <form method="post" action="/new_cylinder" class="px-4">
          
          <!-- Start: Form Header -->
          <div class="row mb-3">
            <div class="col">
              <h2 class="mb-3">New Cylinder Tag</h2>
              <div class="d-flex gap-2">
                <p class="mb-0">Cylinder QR Ref Number: This will come directly from the QR code in the future.</p>
              </div>
              <p class="mt-3">Fields with an asterisk (<span class="text-danger fw-bold">*</span>) are required.</p>
            </div>
          </div><!-- End: Form Header -->
          <!-- Start: Form Input -->
          <div class="row mb-5">
            <div class="col">
              <!-- Start: General Information -->
              <div class="mb-5">
                <h4 class="mb-3">General Information</h4>
                <div class="mb-3"><label class="form-label">Create Date<span class="text-danger fw-bold">*</span></label><input name= "createDate" class="form-control" type="date"
                    required=""></div>
                <div><label class="form-label">Wholesaler<span class="text-danger fw-bold">*</span></label><input name="wholeSaler" class="form-control" type="text" required="">
                </div>
              </div><!-- End: General Information -->
              <!-- Start: Cylinder Information -->
              <div class="mb-5">
                <h4 class="mb-3">Cylinder Information</h4>
                <div class="mb-3"><label class="form-label">Cylinder Size<span class="text-danger fw-bold">*</span></label>
                  <div class="input-group"><input name="cylinder_size" class="form-control" type="number" ><span
                    class="input-group-text">lb</span></div>
                <div class="mb-3"><label class="form-label">Cylinder Tare Weight<span class="text-danger fw-bold">*</span></label>
                  <div class="d-flex justify-content-between gap-3"><select name="tareWeightUnit" class="form-select">
                      <option value="12" selected="">lb/oz</option>
                      <option value="13">kg/g</option>
                    </select>
                    <div class="input-group"><input name="tareWeight1" class="form-control" type="number" ><span
                        class="input-group-text">lb</span></div>
                    <div class="input-group"><input name="tareWeight2" class="form-control" type="number"><span
                        class="input-group-text">oz</span></div>
                  </div><sub>You can input values in either one or both boxes.</sub>
                </div>
              </div><!-- End: Cylinder Information -->
              <!-- Start: Refrigerant Information -->
              <div>
                <h4 class="mb-3">Refrigerant Information</h4>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="flash-messages">
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <div class="mb-3"><label class="form-label">Refrigerant Type (eg. R-410A)*</label><input name="refrigerantType" class="form-control"

                  type="text" required=""></div>
                <div class="mb-3"><label class="form-label">Current Refrigerant Weight in Cylinder<span class="text-danger fw-bold">*</span></label>
                  <div class="d-flex justify-content-between gap-3"><select name="currentRefrigerantWeightUnit" class="form-select">
                      <option value="12" selected="">lb/oz</option>
                      <option value="13">kg/g</option>
                    </select>
                    <div class="input-group"><input name="currentRefrigerantWeight1" class="form-control" type="number" required=""><span
                        class="input-group-text">lb</span></div>
                    <div class="input-group"><input name="currentRefrigerantWeight2" class="form-control" type="number" required=""><span
                        class="input-group-text">oz</span></div>
                  </div>
                </div>
              </div><!-- End: Refrigerant Information -->
            </div>
          </div><!-- End: Form Input -->
          <!-- Start: Form Submit -->
          <div class="row mb-5">
            <div class="col d-flex justify-content-between gap-3"><button class="btn btn-outline-primary w-100"
                type="button" data-bs-target="#modal-1" data-bs-toggle="modal">Cancel</button><input
                class="btn btn-primary w-100" type="submit" name="Submit" value="Submit"></div>
          </div><!-- End: Form Submit -->
          <!-- Start: Form Modals -->
          <div class="row">
            <div class="col">
              <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Leave Form?</h4><button class="btn-close" type="button" aria-label="Close"
                        data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                      <p>Changes that you made may not be saved.</p>
                    </div>
                    <div class="modal-footer"><button class="btn btn-outline-primary" type="button"
                        data-bs-dismiss="modal">Back</button><button class="btn btn-danger" type="button">Leave</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End: Form Modals -->
        </form>
      </div>
    </div>
  </section><!-- End: Form -->
</body>
  </html>
