<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Recovery Form</title>
  <link rel="icon" type="image/png" sizes="130x165"
    href="/static/images/favicon-light.png?h=1078ffc38902e5af3330798c0cfeab0c">
  <link rel="icon" type="image/png" sizes="130x165"
    href="/static/images/favicon-dark.png?h=1078ffc38902e5af3330798c0cfeab0c" media="(prefers-color-scheme: dark)">
  <link rel="icon" type="image/png" sizes="130x165"
    href="/static/images/favicon-light.png?h=1078ffc38902e5af3330798c0cfeab0c">
  <link rel="icon" type="image/png" sizes="130x165"
    href="/static/images/favicon-dark.png?h=1078ffc38902e5af3330798c0cfeab0c" media="(prefers-color-scheme: dark)">
  <link rel="icon" type="image/png" sizes="130x165"
    href="/static/images/favicon-light.png?h=1078ffc38902e5af3330798c0cfeab0c">
  <link rel="icon" type="image/png" sizes="130x165"
    href="/static/images/favicon-light.png?h=1078ffc38902e5af3330798c0cfeab0c">
  <link rel="icon" type="image/png" sizes="348x122"
    href="/static/img/refit-logo-light.png?h=1078ffc38902e5af3330798c0cfeab0c">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="manifest" href="/manifest.json?h=1925185a4fdbc423b5c4a32f4cfda507">
  <link rel="stylesheet" href="/static/css/Inter.css?h=2b6b187577b77bbecfd8e0c0ba7be8a4">
  <link rel="stylesheet" href="/static/css/Poppins.css?h=3b3aefe71f57d702393cff5e84476a7a">
  <link rel="stylesheet" href="/static/css/bs-theme-overrides.css?h=c5ea18736f8f7fad3c119301c412bdf6">
  <link rel="stylesheet" href="/static/css/QR-Scanner.css?h=376092ebd9ede60f9d6ca2aea2b07df6">
  <link rel="stylesheet" href="/static/css/styles.css?h=0e92255a3d7da6d89898f52edb855399">
  <link rel="stylesheet" href="/static/css/test.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <style>
    .light-grey-background {
      background-color: rgb(203, 203, 203);
      /* This is your light grey color */
    }
    .table-header th {
          background-color: #111A66;
          color: white;
    }
  </style>
</head>

<body>

  <div class="d-flex justify-content-center mt-5">
    <div class="d-flex justify-content-center align-items-center">
      <div class="px-4">
        <h1>Refrigerant Recovery Form</h1>
        
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="table-header">
        <tr>
          <th class="text-center">Cylinder Tag ID <i class="fas fa-arrow-up"></i></th>
          <th class="text-center">Refrigerant Name <i class="fas fa-arrow-up"></i></th>
          <th class="text-center">Technician ID <i class="fas fa-arrow-up"></i></th>
          <th class="text-center">Cylinder Type <i class="fas fa-arrow-up"></i></th>
          <th class="text-center">Cylinder Weight BEFORE recovery (lbs): <i class="fas fa-arrow-up"></i></th>
          <th class="text-center">Current Refrigerant Weight (oz) <i class="fas fa-arrow-up"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">{{dt.tag}}</td>
          <td class="text-center">{{dt.name}}</td>
          <td class="text-center">{{dt.tech_id}}</td>
          <td class="text-center">{{dt.type}}</td>
          <td id="tare_weight_before_repair" class="text-center">{{dt.tare_weight_before_repair}}</td>
          <td class="text-center">{{dt.weight}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <!-- Adjust the height as needed -->
    <form id="myForm" method="post" action="/refrigerant_recovery">
      <h1>User Input</h1>
      <label for="createDate" class="form-label">Date:</label>
      <input type="date" id="createDate" name="createDate" value="{{dt.date}}" class="form-control mb-3" required>

      <label for="cylinder_weight_after_service" class="form-label">Cylinder Weight AFTER service:</label>
      <input type="number" id="cylinder_weight_after_service" name="cylinder_weight_after_service" value=""
        class="form-control" required>
      <div id="error-message-container" style="max-width: 300px; word-wrap: break-word;">
        <span id="error-message" style="color: red;"></span> <!-- Error message span -->
      </div>
      <label for="refrigerantWeightAfterService" class="form-label">Refrigerant Weight Recovered
        (lbs):</label>
      <input type="number" id="refrigerantWeightAfterService" name="refrigerantWeightAfterService" value=""
        class="form-control light-grey-background" readonly>

      <div class="col">
        <div class="d-grid gap-4 mx-auto mt-3 mb-5">
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
      </div>
    </form>
  </div>

  <div class="container d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col" id="kgInputContainer">
        <label for="inputKg">Weight in Kilograms</label>
        <input type="number" class="form-control" id="inputKg">
      </div>
      <div class="col" id="lbsInputContainer" style="display: none;">
        <label for="inputLbs">Weight in Pounds</label>
        <input type="number" class="form-control" id="inputLbs">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button id="switchButton" class="btn btn-primary mt-2">Switch to Pounds</button>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const kgInputContainer = document.getElementById('kgInputContainer');
      const lbsInputContainer = document.getElementById('lbsInputContainer');
      const switchButton = document.getElementById('switchButton');

      switchButton.addEventListener('click', function () {
        if (kgInputContainer.style.getPropertyValue('display') === 'none') {
          kgInputContainer.style.setProperty('display', 'block');
          lbsInputContainer.style.setProperty('display', 'none');
          switchButton.innerText = 'Switch to Pounds';
        } else {
          kgInputContainer.style.setProperty('display', 'none');
          lbsInputContainer.style.setProperty('display', 'block');
          switchButton.innerText = 'Switch to Kilograms';
        }
      });

      // Form submission logic
      const form = document.getElementById('myForm');
      const errorMessageContainer = document.getElementById('error-message-container');

      form.addEventListener('submit', function (event) {
        if (errorMessageContainer.textContent.trim() !== '') {
          event.preventDefault(); // Prevent form submission
          alert('Please correct the errors before submitting.');
        }

        // Set the current date
        document.getElementById('createDate').value = new Date().toISOString().split('T')[0];
      });

      // Weight calculation logic
      document.getElementById('cylinder_weight_after_service').addEventListener('input', function () {
        const currentWeightText = document.getElementById('tare_weight_before_repair').textContent || '0';
        const currentWeight = parseFloat(currentWeightText);
        const reclaimedWeight = parseFloat(this.value) || 0;

        if (reclaimedWeight <= currentWeight) {
          document.getElementById('error-message').textContent = "Cylinder weight AFTER refrigerant recovery cannot be less than BEFORE service.";
          document.getElementById('refrigerantWeightAfterService').value = '';
        } else {
          document.getElementById('error-message').textContent = '';
          document.getElementById('refrigerantWeightAfterService').value = (reclaimedWeight - currentWeight).toFixed(2);
        }
      });
    });
  </script>

</body>