<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Equipment Tag</title>
    <script>
      (function() {

          // JavaScript snippet handling Dark/Light mode switching

          const getStoredTheme = () => localStorage.getItem('theme');
          const setStoredTheme = theme => localStorage.setItem('theme', theme);
          const forcedTheme = document.documentElement.getAttribute('data-bss-forced-theme');

          const getPreferredTheme = () => {

              if (forcedTheme) return forcedTheme;

              const storedTheme = getStoredTheme();
              if (storedTheme) {
                  return storedTheme;
              }

              const pageTheme = document.documentElement.getAttribute('data-bs-theme');

              if (pageTheme) {
                  return pageTheme;
              }

              return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
          }

          const setTheme = theme => {
              if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                  document.documentElement.setAttribute('data-bs-theme', 'dark');
              } else {
                  document.documentElement.setAttribute('data-bs-theme', theme);
              }
          }

          setTheme(getPreferredTheme());

          const showActiveTheme = (theme, focus = false) => {
              const themeSwitchers = [].slice.call(document.querySelectorAll('.theme-switcher'));

              if (!themeSwitchers.length) return;

              document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                  element.classList.remove('active');
                  element.setAttribute('aria-pressed', 'false');
              });

              for (const themeSwitcher of themeSwitchers) {

                  const btnToActivate = themeSwitcher.querySelector('[data-bs-theme-value="' + theme + '"]');

                  if (btnToActivate) {
                      btnToActivate.classList.add('active');
                      btnToActivate.setAttribute('aria-pressed', 'true');
                  }
              }
          }

          window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
              const storedTheme = getStoredTheme();
              if (storedTheme !== 'light' && storedTheme !== 'dark') {
                  setTheme(getPreferredTheme());
              }
          });

          window.addEventListener('DOMContentLoaded', () => {
              showActiveTheme(getPreferredTheme());

              document.querySelectorAll('[data-bs-theme-value]')
                  .forEach(toggle => {
                      toggle.addEventListener('click', (e) => {
                          e.preventDefault();
                          const theme = toggle.getAttribute('data-bs-theme-value');
                          setStoredTheme(theme);
                          setTheme(theme);
                          showActiveTheme(theme);
                      })
                  })
          });
      })();
  </script>
  <link rel="icon" type="image/png" sizes="130x165" href="/assets/img/favicon-light.png?h=1078ffc38902e5af3330798c0cfeab0c">
  <link rel="icon" type="image/png" sizes="130x165" href="/assets/img/favicon-dark.png?h=1078ffc38902e5af3330798c0cfeab0c" media="(prefers-color-scheme: dark)">
  <link rel="icon" type="image/png" sizes="130x165" href="/assets/img/favicon-light.png?h=1078ffc38902e5af3330798c0cfeab0c">
  <link rel="icon" type="image/png" sizes="130x165" href="/assets/img/favicon-dark.png?h=1078ffc38902e5af3330798c0cfeab0c" media="(prefers-color-scheme: dark)">
  <link rel="icon" type="image/png" sizes="130x165" href="/assets/img/favicon-light.png?h=1078ffc38902e5af3330798c0cfeab0c">
  <link rel="icon" type="image/png" sizes="130x165" href="/assets/img/favicon-light.png?h=1078ffc38902e5af3330798c0cfeab0c">
  <link rel="icon" type="image/png" sizes="348x122" href="/assets/img/refit-logo-light.png?h=1078ffc38902e5af3330798c0cfeab0c">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="manifest" href="/manifest.json?h=1925185a4fdbc423b5c4a32f4cfda507">
  <link rel="stylesheet" href="/assets/css/Inter.css?h=2b6b187577b77bbecfd8e0c0ba7be8a4">
  <link rel="stylesheet" href="/assets/css/Poppins.css?h=3b3aefe71f57d702393cff5e84476a7a">
  <link rel="stylesheet" href="/assets/css/bs-theme-overrides.css?h=c5ea18736f8f7fad3c119301c412bdf6">
  <link rel="stylesheet" href="/assets/css/QR-Scanner.css?h=376092ebd9ede60f9d6ca2aea2b07df6">
  <link rel="stylesheet" href="/assets/css/styles.css?h=0e92255a3d7da6d89898f52edb855399">

  <style>
    /* Custom CSS to override Bootstrap pagination border styling */
    .pagination .page-link {
      border: none !important;
    }
    .pagination .page-item.active .page-link {
      border-bottom: 2px solid var(--bs-primary) !important;
      border-radius: 0px;
      background-color: inherit;
      color: var(--bs-primary);
    }
  </style>

  </head>
  <body>

    <section>
      <nav class="navbar navbar-expand-md bg-primary d-flex flex-row justify-content-evenly" data-bs-theme="dark">
          <div class="container-fluid"><button class="btn btn-primary btn-lg" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-house-door-fill fs-1">
                      <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"></path>
                  </svg></button><!-- Start: Logo --><img src="/assets/img/refit_logo.png?h=d87102a06ce18b5230476734eee4ab0d"><!-- End: Logo -->
              <div class="d-flex flex-row justify-content-center align-items-center">
                  <div class="theme-switcher dropdown"><a class="dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-sun-fill mb-1">
                              <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
                          </svg></a>
                      <div class="dropdown-menu"><a class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="light"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-sun-fill opacity-50 me-2">
                                  <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
                              </svg>Light</a><a class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="dark"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-moon-stars-fill opacity-50 me-2">
                                  <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"></path>
                                  <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path>
                              </svg>Dark</a><a class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="auto"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-circle-half opacity-50 me-2">
                                  <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
                              </svg>Auto</a>
                        </div>
                  </div><button class="btn btn-primary btn-lg" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-circle fs-1">
                          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                      </svg></button>
              </div>
          </div>
      </nav>
  </section>

    <main>
      <!-- Back button -->
      <a href="#" class="text-decoration-none text-black">
        <div class="container d-flex flex-row align-items-center justify-content-start mt-2 mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left me-2" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
          </svg>
          <p class="m-0">Back</p>
        </div>
      </a>
      <div class="container d-flex flex-column justify-content-center align-items-center mb-4">
        <!-- Page Header -->
        <div class="d-flex flex-column align-items-center">
          <h1>New Equipment Tag</h1>
          <p>Equipment QR Ref Number: 'NUMBER'</p>
        </div>
        
          <!-- Tab Navigation -->
        <ul class="nav nav-underline mb-3" id="new-equipment-form-tab" role="tablist">
          <li class="nav-item me-3" role="presentation">
            <button class="nav-link active" id="new-equipment-1-tab" type="button" role="tab" data-bs-toggle="tab" data-bs-target="#new-equipment-1" aria-controls="new-equipment-1-tab-pane" aria-selected="true">1</button>
          </li>
          <li class="nav-item ms-3" role="presentation">
            <button class="nav-link" id="new-equipment-2-tab" type="button" role="tab" data-bs-toggle="tab" data-bs-target="#new-equipment-2" aria-controls="new-equipment-2-tab-pane" aria-selected="false">2</button>
          </li>
        </ul>
        
        <div>
          <p>Fields with an asterisk (<span class="text-danger fw-bold">*</span>) are required.</p>
        </div>

        <!-- Start of form-->
        <form>
          <div class="tab-content" id="new-equipment-form-tab-content">
          
            <!-- Tab 1-->
            <div class="tab-pane fade show active" id="new-equipment-1" role="tabpanel" aria-labelledby="nav-equipment-1-tab">
              <div>
                <h4>Equipment Unit Information</h4>
              </div>
                <!-- Change to boostrap calendar icon 
                Change date format  -->
              <div class="mb-3">
                <label for="Create Date" class="form-label">Create Date<span class="text-danger fw-bold">*</span></label>
                <input type="date" class="form-control" aria-describedby="Create Date" required>
                  <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
                  </svg> -->
                  <div class="mb-3"><label class="form-label">Create Date*</label><input class="form-control" type="date" required=""></div>

              </div>
              <div class="mb-3">
                <label for="Unit Type" class="form-label">Equipment Unit Type<span class="text-danger fw-bold">*</span></label>
                <input type="text" class="form-control" placeholder="Rooftop Unit" required>
              </div>
              <div class="mb-3">
                <label for="Unit Number" class="form-label">Equipment Unit Number</label>
                <input type="text" class="form-control" placeholder="Rooftop Unit 4" pattern=".*[0-9].*">
              </div>
              <div class="mb-3">
                <label for="Manufacturer Name" class="form-label">Manufacturer's Name<span class="text-danger fw-bold">*</span></label>
                <input type="text" class="form-control" autocapitalize="sentences" required>
              </div>
              <div class="mb-3">
                <label for="Model Number" class="form-label">Model Number<span class="text-danger fw-bold">*</span></label>
                <input type="text" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="Serial Number" class="form-label">Serial Number<span class="text-danger fw-bold">*</span></label>
                <input type="text" class="form-control" required>
              </div>
                <!-- icon clicked permission modal for users location
                  boostrap geo-alt logo -->
              <div class="mb-3">
                <label for="Unit Address" class="form-label">Equipment Unit Address</label>
                <input type="text" class="form-control" autocapitalize="sentences">
              </div>
              <div class="mb-3">
                <label for="Organization Name" class="form-label">Organization Name<span class="text-danger fw-bold">*</span></label>
                <input type="text" class="form-control" autocapitalize="sentences" placeholder="Costco" required>
              </div>
              <div class="mb-3">
                <label for="Equipment Location" class="form-label">Location of Equipment<span class="text-danger fw-bold">*</span></label>
                <textarea class="form-control" placeholder="NE rooftop corner" style="height:100px"></textarea>
              </div>
              <div class="d-flex justify-content-center gap-3 mt-2">
                <button class="btn btn-secondary btn-lg py-2 px-5">Cancel</button>
                <button class="btn btn-primary btn-lg py-2 px-5">Next</button>
              </div>
              
            </div>
                          
            <!-- Tab 2-->
            <div class="tab-pane fade d-flex flex-column justify-content-start mb-4" id="new-equipment-2" role="tabpanel" aria-labelledby="nav-equipment-2-tab">
              <div>
                <h4>Equipment Refrigerant Information</h4>
              </div>
              <div>
                <label for="Refrigerant Type" class="form-label">Refrigerant Type<span class="text-danger fw-bold">*</span></label>
                <input type="text" class="form-control mb-3" required>
              </div>
              <div>
                <label for="Unit Type" class="form-label">Factory Refrigerant Weight<span class="text-danger fw-bold">*</span></label>
                <div class="row">
                  <div class="col-4">
                    <button class="btn btn-outline-secondary btn-md btn-dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <span id="unitButtonText1">lb/oz</span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down ms-2" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                      </svg>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a href="#" class="dropdown-item" onclick="changeUnits('lb', 'oz', '1')">lb/oz</a></li>
                      <li><a href="#" class="dropdown-item" onclick="changeUnits('kg', 'g', '1')">kg/g</a></li>
                    </ul>
                  </div>
                  <div class="col-4">
                   <input type="number" id="primaryUnitInput1" class="form-control">
                   <label class="form-label" for="primaryUnitInput1" id="primaryUnitLabel1">lb</label>
                  </div>
                  <div class="col-4">
                    <input type="number" id="secondaryUnitInput1" class="form-control">
                    <label class="form-label" for="secondaryUnitInput1" id="secondaryUnitLabel1">oz</label>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <p>Additional Refrigerant Charge Required <span class="text-danger fw-bold">*</span></p>
                <div class="row">
                  <div class="col-6 form-check d-flex justify-content-center">
                    <input class="form-check-input me-2" type="radio" name="charge-required">
                    <label class="form-check-label" for="">Yes</label>
                  </div>
                  <div class="col-6 form-check d-flex justify-content-center">
                    <input class="form-check-input me-2" type="radio" name="charge-required">
                    <label class="form-check-label" for="">No</label>
                  </div>
                </div>
              </div>
              <div>
                <label class="form-label">Additional Refrigerant Weight<span class="text-danger fw-bold">*</span></label>
                <div class="row">
                  <div class="col-4">
                    <button class="btn btn-outline-secondary btn-md btn-dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                      <span id="unitButtonText2">lb/oz</span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down ms-2" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                      </svg>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                      <li><a href="#" class="dropdown-item" onclick="changeUnits('lb', 'oz', '2')">lb/oz</a></li>
                      <li><a href="#" class="dropdown-item" onclick="changeUnits('kg', 'g', '2')">kg/g</a></li>
                    </ul>
                  </div>
                  <div class="col-4">
                   <input type="number" id="primaryUnitInput2" class="form-control">
                   <label class="form-label primaryUnitLabel" for="primaryUnitInput2" id="primaryUnitLabel2">lb</label>
                  </div>
                  <div class="col-4">
                    <input type="number" id="secondaryUnitInput2" class="form-control">
                    <label class="form-label secondaryUnitLabel" for="secondaryUnitInput2" id="secondaryUnitLabel2">oz</label>
                  </div>
                </div>
              </div>
              <div>
                <label class="form-label">Total Refrigerant Weight<span class="text-danger fw-bold">*</span></label>
                <div class="row">
                  <div class="col-4">
                    <button class="btn btn-outline-secondary btn-md btn-dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                      <span id="unitButtonText3">lb/oz</span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down ms-2" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                      </svg>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                      <li><a href="#" class="dropdown-item" onclick="changeUnits('lb', 'oz', '3')">lb/oz</a></li>
                      <li><a href="#" class="dropdown-item" onclick="changeUnits('kg', 'g', '3')">kg/g</a></li>
                    </ul>
                  </div>
                  <div class="col-4">
                   <input type="number" id="primaryUnitInput3" class="form-control">
                   <label class="form-label primaryUnitLabel" for="primaryUnitInput3" id="primaryUnitLabel3">lb</label>
                  </div>
                  <div class="col-4">
                    <input type="number" id="secondaryUnitInput3" class="form-control">
                    <label class="form-label secondaryUnitLabel" for="secondaryUnitInput3" id="secondaryUnitLabel3">oz</label>
                  </div>
                </div>
              </div>
              <h4>Additional Notes</h4>
              <div class="mb-3">
                <label for="Equipment Location" class="form-label">Notes</label>
                <textarea class="form-control" style="height:100px"></textarea>
              </div>
              
              <div class="row">
                <div class="col-6 d-flex justify-content-center">
                  <button type="cancel" class="btn btn-lg btn-outline-primary py-2 px-5">Cancel</button>
                </div>
                <div class="col-6 d-flex justify-content-center">
                  <button type="submit" class="btn btn-lg btn-primary py-2 px-5">Submit</button>
                </div>
              </div>
            </div>

          </div>
        </form>
      </div>    
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <script>
      function changeUnits(primary, secondary, componentNumber) {
        let unitText = document.getElementById('unitButtonText' + componentNumber);
        let primaryInput = document.getElementById('primaryUnitInput' + componentNumber);
        let secondaryInput = document.getElementById('secondaryUnitInput' + componentNumber);
        let primaryLabel = document.getElementById('primaryUnitLabel' + componentNumber);
        let secondaryLabel = document.getElementById('secondaryUnitLabel' + componentNumber);

        unitText.textContent = `${primary}/${secondary}`;
        primaryLabel.textContent = primary;
        secondaryLabel.textContent = secondary;

        primaryInput.value = '';
        secondaryInput.value = '';
      }
    </script>
  </body>
  </html>
