<div class="row justify-content-center mt-5">
  <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 d-flex justify-content-center align-items-center">
    <form class="px-4">
      <!-- Start: Form Header -->
      <div class="row mb-3">
        <h2>Replacement Successful</h2>
        <p>The equipment tag ID {{12345}} has been updated to now be {{67890}}. All the information has been
          transferred to the new tag.</p>
      </div><!-- End: Form Header -->

      <div class="d-grid gap-4 mx-auto mt-5">
        <button type="button" class="btn btn-primary btn-lg">Return to Dashboard</button>
      </div>

    </form>
  </div>
</div>