<!-- Start: ODS Review Sheet -->
<section>
  <div class="row justify-content-center mt-5">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 d-flex justify-content-center align-items-center">
      <form class="px-4">
        <!-- Start: Form Header -->
        <div class="row mb-3">
          <div class="col"><button class="btn mb-4 p-0" type="button"><svg xmlns="http://www.w3.org/2000/svg"
                width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-chevron-left fs-4 me-2">
                <path fill-rule="evenodd"
                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z">
                </path>
              </svg>Back</button>
            <h2>Recovery ODS Sheet</h2>
            <p class="mb-0">Control Number: {{123123}}</p>
            <p class="mb-0">Equipment QR Ref Number: {{A0081295}}</p>
            <p class="mb-0">Technician Name: {{Bob Flynn}}</p>
            <p class="mb-0">Technician ODS: {{BC17123}}</p>
          </div>
        </div><!-- End: Form Header -->

        <div class="row mt-5">
          <div class="col d-flex justify-content-between">
            <h4 class="mb-0 mr-5">Recovery Information</h4>
            <button type="button" class="btn p-1">Edit</button>
          </div>
        </div>

        <div>
          <h6>Recovery Date</h6>
          <p>{{13/08/2023}}</p>
          <h6>Job Number</h6>
          <p>{{5801}}</p>
        </div>

        <div class="row mt-5">
          <div class="col d-flex justify-content-between">
            <h4 class="mb-0 mr-5">Leak Test Result</h4>
            <button type="button" class="btn p-1">Edit</button>
          </div>
        </div>

        <div>
          <p class="mb-2">Leak Detected - Do not add refrigerant until repaired</p>
          <p>Leak Not Repaired</p>
        </div>

        <div class="row mt-5">
          <div class="col d-flex justify-content-between">
            <h4 class="mb-0 mr-5">Other Test Result</h4>
            <button type="button" class="btn p-1">Edit</button>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col d-flex justify-content-between">
            <h4 class="mb-0 mr-5">Notes</h4>
            <button type="button" class="btn p-1">Edit</button>
          </div>
        </div>

        <div>
          <h6 class="mt-2">Repair Notes</h6>
          <p>Leak is complicated</p>
        </div>

        <div class="row mt-5">
          <div class="col d-flex justify-content-between">
            <h4 class="mb-0 mr-5">Equipment Refrigerant Information</h4>
            <button type="button" class="btn p-1">Edit</button>
          </div>
        </div>

        <div class="mb-5">
          <h6 class="mb-0 mt-3">Refrigerant Type</h6>
          <p>R-410A</p>
          <h6 class="mb-0 mt-3">Factory Refrigerant Weight</h6>
          <p>12 lb 0 oz</p>
          <h6 class="mb-0 mt-3">Additional Refrigerant Weight</h6>
          <p>2 lb 3 oz</p>
          <h6 class="mb-0 mt-3">Total Refrigerant Weight</h6>
          <p>14 lb 3 oz</p>
        </div>

        <div class="row mt-5">
          <div class="col d-flex justify-content-between">
            <h4 class="mb-0 mr-5">Recover Refrigerant</h4>
            <button type="button" class="btn p-1">Edit</button>
          </div>
        </div>

        <div class="mb-5">
          <h6 class="mb-0 mt-3">Total Recovered to Cylinder</h6>
          <p>7 lb 5 oz</p>
        </div>

        <div style="border-bottom: 1px black solid;"></div>

        <div class="row mt-5">
          <div class="col d-flex justify-content-between">
            <h4 class="mb-0 mr-5">ODS Sheet Recipient Email</h4>
            <button type="button" class="btn p-1">Edit</button>
          </div>
        </div>

        <div class="mb-5">
          <label for="recipient-email" class="mb-3">ODS Sheet Recipient Email</label>
          <input type="text" class="form-control" placeholder="michael@techfly.com" readonly />
        </div>

        <div class="row mt-3 mb-5">
          <div class="col-6 d-flex justify-content-center">
            <button type="cancel" class="btn btn-lg btn-outline-primary py-2 px-5">Cancel</button>
          </div>
          <div class="col-6 d-flex justify-content-center">
            <button type="submit" class="btn btn-lg btn-primary py-2 px-5">Submit</button>
          </div>
        </div>
    </div>
  </div>

  </form>
  </div>
  </div>
</section>
<!-- End: ODS Review Sheet -->