  <div class="container">
    <div class="col justify-content-center d-lg-flex flex-column align-items-center mt-5" style="flex: 1 0 50%;">
      <div class="col col-lg-6 mb-5" style="margin-left: 10px;">
        <h5>Your subscription</h5>
      </div>
      <div class="col col-lg-6 p-4" style="border: 2px solid #BBE0FB; border-radius: 2%;">
        <div>
          <p style="font-size: 1.5em;">Free Member</p>
          <ul>
            <li class="mb-2">Access to View ODS History</li>
            <li class="mb-2">Input ODS Records</li>
            <li class="mb-2">Scan QR Codes</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col justify-content-center d-lg-flex flex-column align-items-center mt-5">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body d-flex flex-column justify-content-center"
          style="background-color: #AFD3FF; height: 40vh;">
          <div class="text-center mb-3">
            <h2>Upgrade to contractor account to have access to all features!</h2>
          </div>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary py-2 px-5">Upgrade</button>
          </div>
        </div>
      </div>
    </div>
  </div>