<head>
  <link rel="icon" type="image/png" sizes="130x165"
    href="/static/images/favicon-light.png?h=1078ffc38902e5af3330798c0cfeab0c">
  <link rel="icon" type="image/png" sizes="130x165"
    href="/static/images/favicon-dark.png?h=1078ffc38902e5af3330798c0cfeab0c" media="(prefers-color-scheme: dark)">
  <link rel="icon" type="image/png" sizes="130x165"
    href="/static/images/favicon-light.png?h=1078ffc38902e5af3330798c0cfeab0c">
  <link rel="icon" type="image/png" sizes="130x165"
    href="/static/images/favicon-dark.png?h=1078ffc38902e5af3330798c0cfeab0c" media="(prefers-color-scheme: dark)">
  <link rel="icon" type="image/png" sizes="130x165"
    href="/static/images/favicon-light.png?h=1078ffc38902e5af3330798c0cfeab0c">
  <link rel="icon" type="image/png" sizes="130x165"
    href="/static/images/favicon-light.png?h=1078ffc38902e5af3330798c0cfeab0c">
  <link rel="icon" type="image/png" sizes="348x122"
    href="/static/img/refit-logo-light.png?h=1078ffc38902e5af3330798c0cfeab0c">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="manifest" href="/manifest.json?h=1925185a4fdbc423b5c4a32f4cfda507">
  <link rel="stylesheet" href="/static/css/Inter.css?h=2b6b187577b77bbecfd8e0c0ba7be8a4">
  <link rel="stylesheet" href="/static/css/Poppins.css?h=3b3aefe71f57d702393cff5e84476a7a">
  <link rel="stylesheet" href="/static/css/bs-theme-overrides.css?h=c5ea18736f8f7fad3c119301c412bdf6">
  <link rel="stylesheet" href="/static/css/QR-Scanner.css?h=376092ebd9ede60f9d6ca2aea2b07df6">
  <link rel="stylesheet" href="/static/css/styles.css?h=0e92255a3d7da6d89898f52edb855399">
  <link rel="stylesheet" href="/static/css/test.css">

  <style>
    .transparent-placeholder::placeholder {
      opacity: 0.5;
      /* Adjust the opacity as you like */
      /* You can add other styles here if you want */
    }
  </style>
</head>

<body>
  <!-- Start: Navbar -->
  <section>
    <nav class="navbar navbar-expand-md bg-primary" data-bs-theme="dark">
      <div class="container  d-flex justify-content-between p-0 pe-2 pt-4">
        <div class="d-flex align-items-center ">
          <button class="btn btn-primary btn-lg me-2" type="button" onclick="location.href='/back-by-role'">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor"
              class="bi bi-chevron-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg>
          </button>
          <h3 class="mb-0" style="color: white">Settings</h3>
        </div>
      </div>
    </nav>
  </section>
  <!-- End: Navbar -->
  <br>
  <div class="container">
    <div class="col d-flex justify-content-center">
      <!-- Profile Icon -->
      <div class="d-flex flex-column justify-content-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" fill="currentColor" class="bi bi-person-circle"
          viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg>

      </div>
    </div>
    <!-- name of user that displays on the top of the page -->
    <h6 class="d-flex justify-content-center">{{first_name}} {{last_name}}</h6>

    <!-- Form  Start -->
    <form class="px-2 col-lg-6 offset-lg-3" method="post" action="/edit-profile">
      <!-- First Name -->
      <div class="mb-3">
        <label for="firstName" class="form-label" style="color: gray;">First Name</label>
        <div class="input-group">
          <input type="text" class="form-control" name="first_name" id="firstName" disabled>
          <button class="btn btn-outline-secondary" type="button" onclick="enableEditing('firstName')">Change</button>
        </div>
      </div>

      <!-- Last Name -->
      <div class="mb-3">
        <label for="lastName" class="form-label" style="color: gray;">Last Name</label>
        <div class="input-group">
          <input type="text" class="form-control" name="last_name" id="lastName" disabled>
          <button class="btn btn-outline-secondary" type="button" onclick="enableEditing('lastName')">Change</button>
        </div>
      </div>

      <!-- Phone -->
      <div class="mb-3">
        <label for="phone" class="form-label" style="color: gray;">Phone</label>
        <div class="input-group">
          <input type="text" class="form-control transparent-placeholder" name="telephone" id="phone"
            placeholder="123-456-7890" disabled>
          <button class="btn btn-outline-secondary" type="button" onclick="enableEditing('phone')">Change</button>
        </div>
      </div>

      <!-- ODS Certification -->
      <div class="mb-3">
        <label for="odsCertification" class="form-label" style="color: gray;">ODS Certification</label>
        <div class="input-group">
          <input type="text" class="form-control" name="ods_licence_number" id="odsCertification" disabled>
          <button class="btn btn-outline-secondary" type="button"
            onclick="enableEditing('odsCertification')">Change</button>
        </div>
      </div>

      <!-- Address -->
      <div class="mb-3">
        <label for="address" class="form-label" style="color: gray;">Street Address</label>
        <div class="input-group">
          <input type="text" class="form-control" name="address" id="address" disabled>
          <button class="btn btn-outline-secondary" type="button" onclick="enableEditing('address')">Change</button>
        </div>
      </div>

      <!-- Apartment, Suite, etc. -->
      <div class="mb-3">
        <label for="apartment" class="form-label" style="color: gray;">Apartment, Suite, etc.</label>
        <div class="input-group">
          <input type="text" class="form-control" name="suite_number" id="apartment" disabled>
          <button class="btn btn-outline-secondary" type="button" onclick="enableEditing('apartment')">Change</button>
        </div>
      </div>

      <!-- Province/State -->
      <div class="mb-3">
        <label for="province" class="form-label" style="color: gray;">Province/State</label>
        <div class="input-group">
          <input type="text" class="form-control" name="province" id="province" disabled>
          <button class="btn btn-outline-secondary" type="button" onclick="enableEditing('province')">Change</button>
        </div>
      </div>

      <!-- Postal Code -->
      <div class="mb-5">
        <label for="postalCode" class="form-label" style="color: gray;">Postal Code</label>
        <div class="input-group">
          <input type="text" class="form-control transparent-placeholder" name="postal_code" id="postalCode"
            placeholder="A1A 1A1" disabled>
          <button class="btn btn-outline-secondary" type="button" onclick="enableEditing('postalCode')">Change</button>
        </div>
      </div>

      <div class="d-flex flex-column justify-content-center">
        <button class="btn btn-primary btn-lg" type="submit">Update Profile</button>
      </div>
    </form>

  </div>
  <!-- ... additional scripts ... -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

  <script>
    function enableEditing(fieldId) {
      var inputField = document.getElementById(fieldId);
      inputField.disabled = false;
      inputField.focus();
    }
  </script>
</body>