<section>
  <div class="d-flex flex-column align-items-center">
    <h3>REFIT</h3>
    <h4>Privacy Policy</h4>
    <p>Last Updated: 'Last updated Date'</p>
  </div>
  <div>
    <p>1 - INTRODUCTION</p>
    <p>
      This privacy notice provides you with details of how we collect and process your personal data through your use of our site <a href="https://www.refit.com" target="_blank" >https://www.refit.com/</a>.</p>
      <p>By providing us with your data, you warrant to us that you are over 18 years of age.</p>
      <p>
        <strong>Refit</strong>, is the data controller and is responsible for your personal data (referred to as “we”, “us” or “our” in this privacy notice.)
      </p>
    </p>
    <p>Contact Details:</p>
    <p>Full name of legal entity: Refit LLC</p>
    <p>Email address: info@refit.com</p>
    <p>Postal address: 969 Weaver, Place Victoria, BC</p>
    <p>V9C 3C2</p>
    <p>Text continues....</p>
  </div>
</section>