<html>
<body>
    <p>Responding to Support Ticket # {{selected_ticket_id}} from {{user_name}}</p>
    <form method="post" action="/admin/email">
        <textarea class="form-control" id="responseFormControl" rows="5" placeholder="Enter your message..." name="message"></textarea>
        <input type="submit" value="Submit">
    </form>
    <div class="d-flex flex-column justify-content-center">
        <button class="btn btn-primary btn-lg" type="button" onclick="location.href='/admin/support_tickets'"> Back</button>
    </div>
</body>
</html>
