<!DOCTYPE html>
<html>

<head>
    <title>Technician Dashboard</title>
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <title>Banner with Close Button</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <style>
        .banner-close-btn {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            background-color: transparent;
            color: #111A66;
            cursor: pointer;

        }
    </style>
    <style>
        /* Custom CSS for small screens */
        @media (max-width: 767.98px) {
            .card-height-sm {
                min-height: 200px;
                /* Adjust this value as needed */
            }
        }
    </style>

</head>


<body>
    <div class="position-relative" id="banner">
        <a href="YOUR_LINK_URL" class="d-block text-decoration-none py-2" style="background: #AFD3FF;">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-9 banner-content">
                        <span
                            style="color: #111A66; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">Click</span>
                        <span
                            style="color: #111A66; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 22.40px; word-wrap: break-word">
                            here</span>
                        <span
                            style="color: #111A66; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">
                            to see how your company can benefit from refrigerant tracking.</span>
                    </div>
                    <div class="col-md-2 col-3 text-end">
                        <button type="button" class="banner-close-btn" aria-label="Close"
                            onclick="document.getElementById('banner').style.display='none'">
                            &times;
                        </button>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div
        style="width: 100%; text-align: center; color: #111A66; font-size: 20px; font-weight: 500; line-height: 33.60px; word-wrap: break-word; padding-top: 20px; padding-bottom: 20px;">
        Welcome back {{user}}!
    </div>

    <div class="container">
        <div class="row">
            <!-- Card box 1 -->
            <div class="container">
                <div class="row d-md-flex">
                    <!-- Card box 1 -->
                    <div class="col-md-6 col-12 mb-3">
                        <div class="card card-height-sm h-100 border btn p-0"
                            style="border-radius: 20px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); background-color: #AFD3FF;">
                            <div class="card-body d-flex flex-md-column flex-row align-items-center"
                                style="padding: 20px;">
                                <button class="btn mb-4 mb-md-0 p-0" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="3.5em" fill="#111A66"
                                        class="bi bi-qr-code-scan" viewBox="0 0 16 16">
                                        <path
                                            d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1v2.5a.5.5 0 0 1-1 0v-3Zm12 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V1h-2.5a.5.5 0 0 1-.5-.5ZM.5 12a.5.5 0 0 1 .5.5V15h2.5a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5Zm15 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H15v-2.5a.5.5 0 0 1 .5-.5ZM4 4h1v1H4V4Z" />
                                        <path d="M7 2H2v5h5V2ZM3 3h3v3H3V3Zm2 8H4v1h1v-1Z" />
                                        <path d="M7 9H2v5h5V9Zm-4 1h3v3H3v-3Zm8-6h1v1h-1V4Z" />
                                        <path
                                            d="M9 2h5v5H9V2Zm1 1v3h3V3h-3ZM8 8v2h1v1H8v1h2v-2h1v2h1v-1h2v-1h-3V8H8Zm2 2H9V9h1v1Zm4 2h-1v1h-2v1h3v-2Zm-4 2v-1H8v1h2Z" />
                                        <path d="M12 9h2V8h-2v1Z" />
                                    </svg>
                                </button>
                                <p style="font-size: 12px; word-wrap: break-word;padding: 20px;">
                                    Scan QR Tag</p>
                            </div>
                        </div>
                    </div>

                    <!-- Card box 2 -->
                    <div class="col-md-6 col-12 mb-3">
                        <div class="card h-100 border btn p-0"
                            style="border-radius: 20px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);">
                            <div class="card-body d-flex flex-md-column flex-row align-items-center">
                                <button class="btn mb-4 mb-md-0 p-0" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="3.5em" fill="#111A66"
                                        viewBox="0 0 576 512">
                                        <path
                                            d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
                                    </svg>
                                </button>
                                <p style="font-size: 12px; word-wrap: break-word;padding: 20px;">Buy QR Tags</p>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="row d-md-flex">
                    <div class="col-md-6 col-12 mb-3">
                        <div class="card h-100 border btn p-0"
                            style="height: 300px; border-radius: 20px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);">
                            <div class="card-body d-flex flex-md-column flex-row align-items-center">
                                <button class="btn mb-4 mb-md-0 p-0" type="button">
                                    <!-- SVG for Card 5 -->
                                    <svg xmlns="http://www.w3.org/2000/svg" height="3.5em" fill="#111A66"
                                        class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                                        <path
                                            d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                                        <path
                                            d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                                    </svg>
                                </button>
                                <p style="font-size: 12px; word-wrap: break-word;padding: 20px;">View My History</p>
                            </div>
                        </div>
                    </div>

                    <!-- Card box 6 -->
                    <div class="col-md-6 col-12 mb-3">
                        <div class="card h-100 border btn p-0"
                            style="height: 300px; border-radius: 20px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);">
                            <div class="card-body d-flex flex-md-column flex-row align-items-center">
                                <button class="btn mb-4 mb-md-0 p-0" type="button">
                                    <!-- SVG for Card 6 -->
                                    <svg xmlns="http://www.w3.org/2000/svg" height="3.5em" fill="#111A66"
                                        viewBox="0 0 448 512">
                                        <path
                                            d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm79 143c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z" />
                                    </svg>
                                </button>
                                <p style="font-size: 12px; word-wrap: break-word;padding: 20px;">Remove QR Code </p>
                            </div>
                        </div>
                    </div>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>