<!DOCTYPE html>
<html>
<head>
    <title>Technician Dashboard</title>
</head>
<body>
    <h1>Welcome to Technician Dashboard! {{user}}</h1>
    
    <!-- Add a button that links to the equipment creation page -->
    <button onclick="location.href='/equipment/equipment_create'">Create Equipment</button>

    <!-- Add a button that links to the repair page -->
    <button onclick="location.href='/equipment/repair'">Repair Equipment</button>

    <!-- Add a button that links to the maintenance page -->
    <button onclick="location.href='/equipment/recovery'">Recovery</button>
</body>
</html>
