<!DOCTYPE html>
<html>
<head>
    <title>Technician Dashboard</title>
</head>
<body>
    <h1>Select which History/Logs you would like to view.</h1>
    
   
    

    <!-- Add a button that links to the  view_history page -->
    <button onclick="location.href='/select-history-type-technician-maintenance'">Equipment Logs</button>
    <!-- Add a button that links to the cylinder Logs  page -->
    <button onclick="location.href='/technician_cylinder_history'"> Cylinder Logs</button>
    
    
</body>
</html>
