<html>
<h1>Cylinder Information</h1>
Information for Scanned Cylinder

<table border class="table table-hover table-dark">
    <head>
        <tr>
            <!-- Your Columns HERE -->
            <th scope="col">Cylinder_ID</th>
            <th scope="col">Size</th>
            <th scope="col">Type</th>
            <th scope="col">Refrigerant_name</th>
            <th scope="col">Supplier</th>
            <th scope="col">Current_Refrigerant_Weight (OZ)</th>
            <th scope="col">Options</th>

        </tr>
    <head>
    <body>
        <!-- Your rows inside the table HERE: -->
            <tr>
                <td>{{data.cylinder_id}}</td>
                <td>{{data.cylinder_size}}lbs</td>
                <td>{{name.cylinder_type}}</td>
                <td>{{name.refrigerant_name}}</td>
                <td>{{data.supplier}}</td>
                <td>{{data.current_refrigerant_weight}}</td>


                <td>
                    
                    <button class="btn btn-outline btn-info" onclick="location.href='/refrigerant_recovery'">Recover Refrigerant</button>
                    <button class="btn btn-outline btn-success" onclick="location.href='/charge-equipment'">Charge Equipment</button>
                    <button class="btn btn-outline btn-warning" onclick="location.href='/remove-qrtag'">Remove QR Tag</button>
                </td>

            </tr>
    <body>
</table>     
</html>