<html>
<h1>Cylinder Information</h1>
Information for Scanned Cylinder

<table border class="table table-hover table-dark">
    <head>
        <tr>
            <!-- Your Columns HERE -->
            <th scope="col">Cylinder_ID</th>
            <th scope="col">Size</th>
            <th scope="col">Type</th>
            <th scope="col">Refrigerant_name</th>
            <th scope="col">Supplier</th>
            <th scope="col">Current_Refrigerant_Weight (OZ)</th>
            <th scope="col">Options</th>

        </tr>
    <head>
    <body>
        <!-- Your rows inside the table HERE: -->
            <tr>
                <td>{{data.cylinder_id}}</td>
                <td>{{data.cylinder_size}}lbs</td>
                <td>{{name.cylinder_type}}</td>
                <td>{{name.refrigerant_name}}</td>
                <td>{{data.supplier}}</td>
                <td>{{data.current_refrigerant_weight}}</td>


                <td>
                    <!-- <button id="recoveryButton" class="btn btn-outline btn-info" >Recover Refrigerant</button> -->
                    <button class="btn btn-outline btn-info" onclick="location.href='/refrigerant_recovery/{{data.cylinder_id}}'" >Recover Refrigerant</button>
                    <button class="btn btn-outline btn-success" onclick="location.href='/charge-equipment'">Charge Equipment</button>
                    <button class="btn btn-outline btn-warning" onclick="location.href='/remove-qrtag'">Remove QR Tag</button>
                </td>

            </tr>
    <body>
</table>
<!-- <script>
    document.getElementById("recoveryButton").addEventListener("click", function() {
        var url =window.location.pathname;
        var tag = url.substring(url.lastIndexOf('/') + 1);
    var dataToSend = {
        cylinder_id: "{{data.cylinder_id}}",
        cylinder_size: "{{data.cylinder_size}}",
        cylinder_type: "{{name.cylinder_type}}",
        refrigerant_name: "{{name.refrigerant_name}}",
        supplier: "{{data.supplier}}",
        current_refrigerant_weight: "{{data.current_refrigerant_weight}}",
        tag:tag
    };

    fetch('/datacapture', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(dataToSend)
    })
    .then(response => {
        // Handle the response from the Flask backend if needed
        console.log("Data sent successfully");
        window.location.href = '/refrigerant_recovery'
    })
    .catch(error => {
        // Handle errors if the request fails
        console.error('Error:', error);
    });
});
</script>     -->

</html>