<!DOCTYPE html>
<html>
<head>
    <title>Register Technician</title>
</head>
<body>
    <h1>Add Technican</h1>
    <h1>Contractor ID is {{dt}}</h1>
    <!-- <form method="post" action="/add_technician">
        <label for="name">First Name:</label><br>
        <input type="text" id="fname" name="fname" required><br>
        <label for="name">Middle Name:</label><br>
        <input type="text" id="mname" name="mname" required><br>
        <label for="name">Last Name:</label><br>
        <input type="text" id="lname" name="lname" required><br>
        <label for="Email">Email Id:</label><br>
        <input type="text" id="email" name="email" required><br>
        <br>
        <input type="submit" value="Send Invitation" onclick="location.href='/add_technician'">
    </form> -->
</body>
</html>