<!DOCTYPE html>
<html data-bs-theme="auto" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>REFit</title>
    <script>
        (function() {

            // JavaScript snippet handling Dark/Light mode switching

            const getStoredTheme = () => localStorage.getItem('theme');
            const setStoredTheme = theme => localStorage.setItem('theme', theme);
            const forcedTheme = document.documentElement.getAttribute('data-bss-forced-theme');

            const getPreferredTheme = () => {

                if (forcedTheme) return forcedTheme;

                const storedTheme = getStoredTheme();
                if (storedTheme) {
                    return storedTheme;
                }

                const pageTheme = document.documentElement.getAttribute('data-bs-theme');

                if (pageTheme) {
                    return pageTheme;
                }

                return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
            }

            const setTheme = theme => {
                if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    document.documentElement.setAttribute('data-bs-theme', 'dark');
                } else {
                    document.documentElement.setAttribute('data-bs-theme', theme);
                }
            }

            setTheme(getPreferredTheme());

            const showActiveTheme = (theme, focus = false) => {
                const themeSwitchers = [].slice.call(document.querySelectorAll('.theme-switcher'));

                if (!themeSwitchers.length) return;

                document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                    element.classList.remove('active');
                    element.setAttribute('aria-pressed', 'false');
                });

                for (const themeSwitcher of themeSwitchers) {

                    const btnToActivate = themeSwitcher.querySelector('[data-bs-theme-value="' + theme + '"]');

                    if (btnToActivate) {
                        btnToActivate.classList.add('active');
                        btnToActivate.setAttribute('aria-pressed', 'true');
                    }
                }
            }

            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                const storedTheme = getStoredTheme();
                if (storedTheme !== 'light' && storedTheme !== 'dark') {
                    setTheme(getPreferredTheme());
                }
            });

            window.addEventListener('DOMContentLoaded', () => {
                showActiveTheme(getPreferredTheme());

                document.querySelectorAll('[data-bs-theme-value]')
                    .forEach(toggle => {
                        toggle.addEventListener('click', (e) => {
                            e.preventDefault();
                            const theme = toggle.getAttribute('data-bs-theme-value');
                            setStoredTheme(theme);
                            setTheme(theme);
                            showActiveTheme(theme);
                        })
                    })
            });
        })();
    </script>
    <link rel="icon" type="image/png" sizes="130x165" href="./static/images/favicon-light.png">
    <link rel="icon" type="image/png" sizes="130x165" href="./static/images/favicon-dark.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="130x165" href="./static/images/favicon-light.png">
    <link rel="icon" type="image/png" sizes="130x165" href="./static/images/favicon-dark.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="130x165" href="./static/images/favicon-light.png">
    <link rel="icon" type="image/png" sizes="130x165" href="./static/images/favicon-light.png">
    <link rel="icon" type="image/png" sizes="348x122" href="../static/images/refit-logo-light.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="manifest" href="./manifest.json">
    <link rel="stylesheet" href="../static/css/Inter.css">
    <link rel="stylesheet" href="../static/css/Poppins.css">
    <link rel="stylesheet" href="../static/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="../static/css/QR-Scanner.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <!-- Start: Navbar -->
    <section>
        <nav class="navbar navbar-expand-md bg-primary" data-bs-theme="dark">
            <div class="container d-flex justify-content-between p-0 pe-2 pt-4">
                <button class="btn btn-primary btn-lg" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                    </svg>
                </button>
                <!-- Start: Logo -->
                <div class="navbar-brand">
                    <img src="../static/images/refit_logo.png">
                </div>
                <!-- End: Logo -->
                <!-- Start: button for mobile Left Offcanvas menu-->
                <button class="btn btn-primary btn-lg d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#settingsSlideOutLeft">
                  <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                  </svg>
                </button>
                <!-- End: button for mobile Offcanvas menu -->
                <!-- Start: button for Medium Screen Right Offcanvas menu-->
                <button class="btn btn-primary btn-lg d-none d-md-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#settingsSlideOutRight">
                  <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                  </svg>
                </button>
                <!-- End: button for Medium Screen Right Offcanvas menu-->

            </div>
        </nav>

        

        <!-- Start: MOBILE LEFT SIDE offcanvas menu-->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="settingsSlideOutLeft" >
          <div class="offcanvas-header bg-primary text-light" data-bs-theme="dark">
            <h5 class="offcanvas-title">Settings</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body P-0">

            <!-- Start of Edit Profile -->
            <a class="d-flex border-bottom pt-2 justify-content-between text-decoration-none" href="#">
              <div class="d-flex align-content-center" style="flex: 1 0 10%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
              </div>
              <div class="d-flex flex-column flex-grow-1 ms-4" style="flex: 1 0 70%">
                <h4>Edit Profile</h4>
                <small style="color: grey">Change your profile Information</small>
              </div>
              <div class="d-flex align-items-center" style="flex: 1 0 20%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-chevron-right " viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </div>
              </a>

            <!-- Start of Account -->
            <a class="d-flex border-bottom pt-3 justify-content-between text-decoration-none" href="#">
              <div class="d-flex align-content-center" style="flex: 1 0 10%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                  <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                </svg>
              </div>
              <div class="d-flex flex-column flex-grow-1 ms-4" style="flex: 1 0 70%">
                <h4>Account</h4>
                <small style="color: grey">Options and contorls for signing in and keeping your account safe</small>
              </div>
              <div class="d-flex align-items-center" style="flex: 1 0 20%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </div>
            </a>

            <!-- Start of Membership --> 
            <a class="d-flex border-bottom pt-3 justify-content-between text-decoration-none" href="#">
              <div class="d-flex align-content-center" style="flex: 1 0 10%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
                  <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z"/>
                  <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z"/>
                </svg>
              </div>
              <div class="d-flex flex-column flex-grow-1 ms-4" style="flex: 1 0 70%">
                <h4>Membership</h4>
                <small style="color: grey">See your membership description and all the details</small>
              </div>
              <div class="d-flex align-items-center" style="flex: 1 0 20%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </div>
            </a>

            <!-- Start of Switch Account -->
            <a class="d-flex border-bottom pt-3 justify-content-between text-decoration-none" href="#">
              <div class="d-flex align-content-center" style="flex: 1 0 10%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-repeat" viewBox="0 0 16 16">
                  <path d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192Zm3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z"/>
                </svg>
              </div>
              <div class="d-flex flex-column flex-grow-1 ms-4" style="flex: 1 0 70%">
                <h4>Switch Account</h4>
                <small style="color: grey">Switch between different accounts</small>
              </div>
              <div class="d-flex align-items-center" style="flex: 1 0 20%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </div>
            </a>

                <!-- Start of Private Policy -->
            <a class="d-flex border-bottom pt-3 justify-content-between text-decoration-none" href="#">
              <div class="d-flex align-content-center" style="flex: 1 0 10%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                  <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                </svg>
              </div>
              <div class="d-flex flex-column flex-grow-1 ms-4" style="flex: 1 0 70%">
                <h4>Private Policy</h4>
                <small style="color: grey">Review our Private Policy</small>
              </div>
              <div class="d-flex align-items-center" style="flex: 1 0 20%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </div>
            </a>

                <!-- Start of Contact Us -->
            <a class="d-flex border-bottom pt-3 justify-content-between text-decoration-none" href="#">
              <div class="d-flex align-content-center" style="flex: 1 0 10%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                </svg>
              </div>
              <div class="d-flex flex-column flex-grow-1 ms-4" style="flex: 1 0 70%">
                <h4>Contact Us</h4>
                <small style="color: grey">Contact us if you have any questions</small>
              </div>
              <div class="d-flex align-items-center" style="flex: 1 0 20%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </div>
            </a>
            <!-- Start: Buttons-->
            <div class="d-flex flex-column gap-3 m-4">
              <button class="btn btn-lg btn-primary" >Logout</button>
            </div>
            <!-- End: Buttons-->
            <!-- Start: Theme switcher dropdown -->
            <div class="theme-switcher dropdown d-flex justify-content-center pt-4">
              <a class="dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-sun-fill mb-1">
                <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
                </svg>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="light">
                  <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-sun-fill opacity-50 me-2">
                    <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
                    </svg>Light
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="dark">
                  <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-moon-stars-fill opacity-50 me-2">
                    <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"></path>
                    <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path>
                  </svg>Dark
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="auto">
                  <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-circle-half opacity-50 me-2">
                    <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
                  </svg>Auto
                </a>
              </div>
            </div>
            <!-- End: Theme switcher dropdown -->
          </div>
        </div>
        <!-- End: MOBILE LEFT SIDE offcanvas menu -->

        <!-- Start: MEDIUM SCREEN RIGHT SIDE offcanvas menu-->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="settingsSlideOutRight" >
          <div class="offcanvas-header bg-primary text-light" data-bs-theme="dark">
            <h5 class="offcanvas-title">Settings</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">

            <!-- Start of Edit Profile -->
            <a class="d-flex border-bottom pt-3 justify-content-between text-decoration-none" href="#">
              <div class="d-flex align-content-center" style="flex: 1 0 10%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
              </div>
              <div class="d-flex flex-column flex-grow-1 ms-4" style="flex: 1 0 70%">
                <h4>Edit Profile</h4>
                <small style="color: grey">Change your profile Information</small>
              </div>
              <div class="d-flex align-items-center justify-content-center" style="flex: 1 0 20%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </div>
              </a>

            <!-- Start of Account -->
            <a class="d-flex border-bottom pt-3 justify-content-between text-decoration-none" href="#">
              <div class="d-flex align-items-center" style="flex: 1 0 10%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                  <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                </svg>
              </div>
              <div class="d-flex flex-column ms-4" style="flex: 1 0 70%">
                <h4>Account</h4>
                <small style="color: grey">Options and controls for signing in and keeping your account safe</small>
              </div>
              <div class="d-flex align-items-center justify-content-center" style="flex: 1 0 20%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </div>
            </a>

            <!-- Start of Membership -->
            <a class="d-flex border-bottom pt-3 justify-content-between text-decoration-none" href="#">
              <div class="d-flex align-items-center" style="flex: 1 0 10%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
                  <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z"/>
                  <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z"/>
                </svg>
              </div>
              <div class="d-flex flex-column flex-grow-1 ms-4" style="flex: 1 0 70%">
                <h4>Membership</h4>
                <small style="color: grey">See your membership description and all the details</small>
              </div>
              <div class="d-flex align-items-center justify-content-center " style="flex: 1 0 20%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </div>
            </a>

            <!-- Start of Switch Account -->
            <a class="d-flex border-bottom pt-3 justify-content-between text-decoration-none" href="#">
              <div class="d-flex align-items-center" style="flex: 1 0 10%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-repeat" viewBox="0 0 16 16">
                  <path d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192Zm3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z"/>
                </svg>
              </div>
              <div class="d-flex flex-column flex-grow-1 ms-4" style="flex: 1 0 70%">
                <h4>Switch Account</h4>
                <small style="color: grey">Switch between different accounts</small>
              </div>
              <div class="d-flex align-items-center justify-content-center" style="flex: 1 0 20%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </div>
            </a>

            <!-- Start of Private Policy -->
            <a class="d-flex border-bottom pt-3 justify-content-between text-decoration-none" href="#">
              <div class="d-flex align-items-center" style="flex: 1 0 10%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                  <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                </svg>
              </div>
              <div class="d-flex flex-column flex-grow-1 ms-4" style="flex: 1 0 70%">
                <h4>Private Policy</h4>
                <small style="color: grey">Review our Private Policy</small>
              </div>
              <div class="d-flex align-items-center justify-content-center" style="flex: 1 0 20%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </div>
            </a>

            <!-- Start of Contact Us -->
            <a class="d-flex border-bottom pt-3 justify-content-between text-decoration-none" href="#">
              <div class="d-flex align-items-center" style="flex: 1 0 10%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                </svg>
              </div>
              <div class="d-flex flex-column flex-grow-1 ms-4" style="flex: 1 0 70%">
                <h4>Contact Us</h4>
                <small style="color: grey">Contact us if you have any questions</small>
              </div>
              <div class="d-flex align-items-center justify-content-center" style="flex: 1 0 20%">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </div>
            </a>

            <!-- Start: Buttons-->
            <div class="d-flex flex-column gap-3 p-0 pt-3">
              <button class="btn btn-lg btn-primary" >Logout</button>
            </div>
            <!-- End: Buttons-->
            <!-- Start: Theme switcher dropdown -->
              <div class="theme-switcher dropdown d-flex justify-content-center pt-4">
                <a class="dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-sun-fill mb-1">
                    <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
                  </svg>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-sun-fill opacity-50 me-2">
                      <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
                    </svg>Light
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-moon-stars-fill opacity-50 me-2">
                      <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"></path>
                      <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path>
                    </svg>Dark
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="auto">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-circle-half opacity-50 me-2">
                    <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
                  </svg>Auto
                </a>
              </div>
            </div>
            <!-- End: Theme switcher dropdown -->
          </div>
        </div>
          <!-- End: Mobile offcanvas menu -->
          
        </section>
    <!-- End: Navbar -->
    
    <main class="container pt-3 pb-3">

      <section class="tab-content">
        <div class="tab-pane fade show active" id="signUpTab" role="tabpanel">
          <div class="d-flex flex-column flex-sm-row rounded shadow bg-light">
            <div
              class="rounded"
              style="
                flex: 1 0 40%;
                background-image: url('../static/images/hvac-technician.jpg');
                background-size: cover;
                position: relative;
              "
            >
              <div
                class="d-flex flex-column pb-3 pt-5 rounded gap-4 align-items-center"
                style="background: rgba(0, 153, 255, 0.5); width: 100%; height: 100%"
              >
                <h1 class="text-light">Welcome Back!</h1>
                <ul class="nav nav-tabs">
                  <button
                    type="button"
                    id="goToSignIn"
                    class="btn btn-outline-light btn-lg active"
                  >
                    Sign In
                  </button>
                </ul>
              </div>
            </div>
      
            <div
              class="d-flex flex-column align-items-center p-3 gap-3"
              style="flex: 1 0 60%"
            >
              <h1 class="text-secondary">Create Account</h1>
              <form class="d-flex flex-column gap-3">
                <div class="form-floating mb3">
                  <input
                    type="text"
                    class="form-control"
                    id="signUpNameInput"
                    placeholder="Richard"
                  />
                  <label for="signUpNameInput">Name</label>
                </div>
                <div class="form-floating mb3">
                  <input
                    type="email"
                    class="form-control"
                    id="signUpemailInput"
                    placeholder="name@example.com"
                  />
                  <label for="signUpemailInput">Email Address</label>
                </div>
                <div class="form-floating mb3">
                  <input
                    type="password"
                    class="form-control"
                    id="signUpPasswordInput"
                    placeholder="password"
                  />
                  <label for="signUpPasswordInput">Password</label>
                </div>
                <div>
                  <button type="button" class="btn btn-lg btn-secondary">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      
        <div class="tab-pane fade" id="signInTab" role="tabpanel">
          <div
            class="d-flex flex-column flex-sm-row rounded shadow justify-content-center bg-light"
          >
            <div
              class="d-flex flex-column align-items-center p-3 gap-3"
              style="flex: 1 0 60%"
            >
              <h1 class="text-secondary">Sign in to Refit!</h1>
              <form class="d-flex flex-column gap-3">
                <div class="form-floating mb3">
                  <input
                    type="email"
                    class="form-control"
                    id="signInEmailInput"
                    placeholder="name@example.com"
                  />
                  <label for="signInEmailInput">Email Address</label>
                </div>
                <div class="form-floating mb3">
                  <input
                    type="password"
                    class="form-control"
                    id="signInPasswordInput"
                    placeholder="password"
                  />
                  <label for="signInPasswordInput">Password</label>
                </div>
                <div>
                  <button type="button" class="btn btn-lg btn-secondary">
                    Submit
                  </button>
                </div>
              </form>
            </div>
      
            <div
              class="rounded"
              style="
                flex: 1 0 40%;
                background-image: url('../static/images/hvac-technician2.jpg');
                background-size: cover;
                position: relative;
              "
            >
              <div
                class="d-flex flex-column pt-5 p-3 rounded gap-4 align-items-center"
                style="background: rgba(0, 153, 255, 0.5); width: 100%; height: 100%"
              >
                <h1 class="text-light">New Here?</h1>
                <button
                  type="button"
                  id="goToSignUp"
                  class="btn btn-outline-light btn-lg active"
                >
                  Sign Up
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      
          <!-- Start: Script for signup/signin toggle -->
          <script>
            document.addEventListener('DOMContentLoaded', function() {
              var signInButton = document.getElementById('goToSignIn');
              var signUpButton = document.getElementById('goToSignUp');
          
              signInButton.addEventListener('click', function() {
                // Hide the signUpTab content and remove the active class from signUpButton
                document.getElementById('signUpTab').classList.remove('show', 'active');
                // signUpButton.classList.remove('active');
          
                // Show the signInTab content and add the active class to signInButton
                var signInTabContent = document.getElementById('signInTab');
                signInTabContent.classList.add('show', 'active');
                // signInButton.classList.add('active');
              });
          
              signUpButton.addEventListener('click', function() {
                // Hide the signInTab content and remove the active class from signInButton
                document.getElementById('signInTab').classList.remove('show', 'active');
                // signInButton.classList.remove('active');
          
                // Show the signUpTab content and add the active class to signUpButton
                var signUpTabContent = document.getElementById('signUpTab');
                signUpTabContent.classList.add('show', 'active');
                // signUpButton.classList.add('active');
              });
            });
          </script>
          <!-- End: Script for signup/signin toggle -->

    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
 
    
    
</body>

</html>