<!DOCTYPE html>
<html>
<head>
    <title>Technician Dashboard</title>
</head>
<body>
    <h1>New QR Tag Detected! Select Which Kind of Tag You Would Like to Register:</h1>

    <!-- Add a button that links to the register new equipment tag page, later through qr code scan.-->
    <button onclick="location.href='/equipment/equipment_create'"> Register New Equipment/Unit Tag</button>

    <!-- Add a button that links to register a cylinder page, later this will be accessed strictly through scanning a qr code -->
    <button onclick="location.href='/new_cylinder'"> Register New Cylinder Tag</button>
</body>
</html>
