<!-- Start: Email Confirm -->
<section>
  <div class="row justify-content-center mt-5">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4">
      <form class="px-4">
        <div class="row mb-5">
          <div class="col">
            <h2>Email Verified</h2>
            <p>You have successfully verified your email and can now complete setting up your account.</p>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex flex-column align-items-center"><input class="btn btn-lg btn-primary w-100"
              type="submit" name="Setup" value="Set Up Account"></div>
        </div>
      </form>
    </div>
  </div>
</section><!-- End: Email Confirm -->