<section class="tab-content">
  <div class="tab-pane fade show active" id="signUpTab" role="tabpanel">
    <div class="d-flex flex-column flex-sm-row rounded shadow bg-light">
      <div
        class="rounded"
        style="
          flex: 1 0 40%;
          background-image: url('../static/images/hvac-technician.jpg');
          background-size: cover;
          position: relative;
        "
      >
        <div
          class="d-flex flex-column pb-3 pt-5 rounded gap-4 align-items-center"
          style="background: rgba(0, 153, 255, 0.5); width: 100%; height: 100%"
        >
          <h1 class="text-light">Welcome Back!</h1>
          <ul class="nav nav-tabs">
            <button
              type="button"
              id="goToSignIn"
              class="btn btn-outline-light btn-lg active"
            >
              Sign In
            </button>
          </ul>
        </div>
      </div>

      <div
        class="d-flex flex-column align-items-center p-3 gap-3"
        style="flex: 1 0 60%"
      >
        <h1 class="text-secondary">Create Account</h1>
        <form class="d-flex flex-column gap-3">
          <div class="form-floating mb3">
            <input
              type="text"
              class="form-control"
              id="signUpNameInput"
              placeholder="Richard"
            />
            <label for="signUpNameInput">Name</label>
          </div>
          <div class="form-floating mb3">
            <input
              type="email"
              class="form-control"
              id="signUpemailInput"
              placeholder="name@example.com"
            />
            <label for="signUpemailInput">Email Address</label>
          </div>
          <div class="form-floating mb3">
            <input
              type="password"
              class="form-control"
              id="signUpPasswordInput"
              placeholder="password"
            />
            <label for="signUpPasswordInput">Password</label>
          </div>
          <div>
            <button type="button" class="btn btn-lg btn-secondary">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="signInTab" role="tabpanel">
    <div
      class="d-flex flex-column flex-sm-row rounded shadow justify-content-center bg-light"
    >
      <div
        class="d-flex flex-column align-items-center p-3 gap-3"
        style="flex: 1 0 60%"
      >
        <h1 class="text-secondary">Sign in to Refit!</h1>
        <form class="d-flex flex-column gap-3">
          <div class="form-floating mb3">
            <input
              type="email"
              class="form-control"
              id="signInEmailInput"
              placeholder="name@example.com"
            />
            <label for="signInEmailInput">Email Address</label>
          </div>
          <div class="form-floating mb3">
            <input
              type="password"
              class="form-control"
              id="signInPasswordInput"
              placeholder="password"
            />
            <label for="signInPasswordInput">Password</label>
          </div>
          <div>
            <button type="button" class="btn btn-lg btn-secondary">
              Submit
            </button>
          </div>
        </form>
      </div>

      <div
        class="rounded"
        style="
          flex: 1 0 40%;
          background-image: url('../static/images/hvac-technician2.jpg');
          background-size: cover;
          position: relative;
        "
      >
        <div
          class="d-flex flex-column pt-5 p-3 rounded gap-4 align-items-center"
          style="background: rgba(0, 153, 255, 0.5); width: 100%; height: 100%"
        >
          <h1 class="text-light">New Here?</h1>
          <button
            type="button"
            id="goToSignUp"
            class="btn btn-outline-light btn-lg active"
          >
            Sign Up
          </button>
        </div>
      </div>
    </div>
  </div>
</section>


    <!-- Start: Script for signup/signin toggle -->
    <!-- <script>
      document.addEventListener('DOMContentLoaded', function() {
        var signInButton = document.getElementById('goToSignIn');
        var signUpButton = document.getElementById('goToSignUp');
    
        signInButton.addEventListener('click', function() {
          // Hide the signUpTab content and remove the active class from signUpButton
          document.getElementById('signUpTab').classList.remove('show', 'active');
          // signUpButton.classList.remove('active');
    
          // Show the signInTab content and add the active class to signInButton
          var signInTabContent = document.getElementById('signInTab');
          signInTabContent.classList.add('show', 'active');
          // signInButton.classList.add('active');
        });
    
        signUpButton.addEventListener('click', function() {
          // Hide the signInTab content and remove the active class from signInButton
          document.getElementById('signInTab').classList.remove('show', 'active');
          // signInButton.classList.remove('active');
    
          // Show the signUpTab content and add the active class to signUpButton
          var signUpTabContent = document.getElementById('signUpTab');
          signUpTabContent.classList.add('show', 'active');
          // signUpButton.classList.add('active');
        });
      });
    </script> -->
    <!-- End: Script for signup/signin toggle -->