<div class="row justify-content-center login-container mt-5">
  <div class="col-md-6 col-lg-4">
    <div class="card mt-3">
      <div class="card-body">
        <div class="d-flex justify-content-center mt-3">
          <h2 style="color: #111a66;">Login to REFit</h2>
        </div>
         <!-- Start: Flash Messages -->
        <div id="flash-messages" class="text-center">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div id="flash-messages" class="text-center">
              {% for message in messages %}
                <div class="alert alert-warning" role="alert">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        </div>
        <!-- End: Flash Messages -->
        <div class="row justify-content-center mt-4">
          <div>
            <form class="px-4" action="/" method="post">
              <div class="row mb-5">
                <div class="col">
                  <!-- Start: Email -->
                  <div class="mb-4">
                    <label class="form-label">Email<span class="text-danger fw-bold">*</span></label>
                    <input class="form-control" type="email" required name="Email">
                  </div>
                  <!-- End: Email -->

                  <!-- Start: Password -->
                  <div>
                    <label class="form-label">Password<span class="text-danger fw-bold">*</span></label>
                    <input class="form-control mb-3" type="password" required name="Password">
                  </div>
                  <!-- End: Password -->
                  <a href="/forgot_password">Forgot
                    Password?</a>
                </div>
              </div>

              <!-- Start: Form Submit -->

              <div class="row mb-6">
                <div class="col d-flex flex-column align-items-center">
                  <button class="btn btn-lg btn-primary w-100 mb-3" type="submit" value="Log In"
                    name="Log In">Login</button>
                  <span>Don't have an account?</span>
                  <a class="text-center" href="/create">Sign Up</a>
                </div>
              </div>
            </form>
            <!-- End: Login Form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>