<!doctype html>
<html lang="en">
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Join Our Team</title>
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body style="font-family: Inter, sans-serif">
    <table style="width: 100%; max-width: fit-content; margin: auto">
      <tbody>
        <!-- Email Header -->
        <tr>
          <td
            colspan="3"
            style="
              text-align: center;
              vertical-align: middle;
              color: #ffffff;
              background: #111a66;
              padding-top: 1.5rem;
            "
          >
            <img
              alt="REFit Logo"
              src="/static/images/refit_logo.png"
              style="width: 15rem"
            />
            <p style="text-transform: uppercase">refrigerant management</p>
          </td>
        </tr>

        <!-- Email Content -->
        <tr>
          <!-- Spacer -->
          <td style="width: 10%"></td>
          <!-- Main Content Section -->
          <td style="padding: 2.5rem 1.5rem">
            <h1
              style="
                font-family: Poppins, sans-serif;
                color: #111a66;
                margin-bottom: 1.5rem;
              "
            >
              Invitation to Join Our Team
            </h1>
            <p>Hello {Name},</p>

            <p>
              We are excited to invite you to join our company as a technician.
              Your skills and expertise will be valuable to our team, and we
              look forward to working together.
            </p>

            <p>Please click the button below to accept the invitation:</p>
            <button
              name="submit"
              onclick="alert('Welcome Aboard!')"
              style="
                margin: 1.5rem 0;
                padding: 0.75rem 1rem;
                min-width: 12rem;
                color: #ffffff;
                background-color: #111a66;
                border: none;
                border-radius: 0.5rem;
              "
              type="button"
            >
              Accept Invitation
            </button>
            <p>
              If you have any questions or concerns, feel free to reply to this
              email. We are here to assist you.
            </p>
            <p>
              Best regards, <br />
              ReFit_Cambrian
            </p>
          </td>
          <!-- Spacer -->
          <td style="width: 10%"></td>
        </tr>

        <!-- Email Footer -->
        <tr>
          <td
            colspan="3"
            style="
              text-align: center;
              vertical-align: middle;
              color: #ffffff;
              background: #111a66;
              height: 5rem;
            "
          >
            <p>www.refit.com</p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
