<!doctype html>
<html lang="en">
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Welcome to REFit!</title>
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body style="font-family: Inter, sans-serif">
    <table style="width: 100%; max-width: fit-content; margin: auto">
      <tbody>
        <!-- Email Header -->
        <tr>
          <td
            colspan="3"
            style="
              text-align: center;
              vertical-align: middle;
              color: #ffffff;
              background: #111a66;
              padding-top: 1.5rem;
            "
          >
            <img
              alt="REFit Logo"
              src="/static/images/refit_logo.png"
              style="width: 15rem"
            />
            <p style="text-transform: uppercase">refrigerant management</p>
          </td>
        </tr>

        <!-- Email Content -->
        <tr>
          <!-- Spacer -->
          <td style="width: 10%"></td>
          <!-- Main Content Section -->
          <td style="padding: 2.5rem 1.5rem">
            <h1
              style="
                font-family: Poppins, sans-serif;
                color: #111a66;
                margin-bottom: 1.5rem;
              "
            >
              Welcome to REFit!
            </h1>
            <p>Dear {Name},</p>

            <p>
              We are thrilled to welcome you to our community. Thank you for
              joining us!
            </p>

            <p>
              If you have any questions or need assistance, don't hesitate to
              reach out to our support team.
            </p>

            <a href="#" style="text-decoration: none; color: #54b1f5"
              >{Support Email Address}</a
            >

            <p>Once again, welcome aboard!</p>

            <p>
              Best regards, <br />
              The REFit Team
            </p>
            <button
              name="submit"
              onclick="alert('Logged In')"
              style="
                margin: 1.5rem 0;
                padding: 0.75rem 1rem;
                min-width: 12rem;
                color: #ffffff;
                background-color: #111a66;
                border: none;
                border-radius: 0.5rem;
              "
              type="button"
            >
              Login
            </button>
            <hr style="margin-bottom: 1.5rem" />
            <p>
              This email was intended for
              <a href="#" style="text-decoration: none; color: #54b1f5"
                >{email address}</a
              >
              as a REFit user. You can unsubscribe from this list {here}.
            </p>
            <p>
              Copyright info, <br />
              Address,
            </p>
          </td>
          <!-- Spacer -->
          <td style="width: 10%"></td>
        </tr>

        <!-- Email Footer -->
        <tr>
          <td
            colspan="3"
            style="
              text-align: center;
              vertical-align: middle;
              color: #ffffff;
              background: #111a66;
              height: 5rem;
            "
          >
            <p>www.refit.com</p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
